@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'AbrilFat';
  font-style: normal;
  src: url('./fonts/AbrilFatface-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.AbrilFat {
  font-family: AbrilFat, sans-serif;
}

.roboto {
  font-family: Roboto, sans-serif;
}
